.films {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;

  &_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__pagination {
    margin: 10px 0px 30px;
  }
}
