.Profile {
  height: 100vh;
  margin: 100px auto;
  width: 400px;
  text-align: left;
  color: #ffffff;
  transform: translate(20%, -0%);
}
a {
  text-decoration: none;
  color: white;
}
h2 {
  display: flex;
  > a {
    margin-left: 10px;
  }
}
