.App {
  background-color: #1a082c;
  margin-bottom: 20px;
  box-shadow: 4px 4px 10px 0px rgba(43, 7, 102, 0.3);
}
.header {
  height: 65px;
  color: rgb(204, 204, 216);
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__divItems {
    align-items: center;
    display: flex;
    &_h2 {
      margin: 0px 75px 0px 0px;
      cursor: pointer;
      color: white;
      font-size: 30px;
      text-decoration: none;
     
    }
    &_p {
      text-decoration: none;
      color: #d2ccd8;
      cursor: pointer;
      padding: 5px 9px;
      font-size: 18px;
      margin-left: 5px;
      &:hover {
        color: rgb(255, 255, 255);
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
      }
    }
    &_inputDiv {
      
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 3px 10px;
      width: 330px;
      height: 35px;
      border-radius: 15px;
      color: white;
      background-color: #250a41;
      
      transition: 0.9s;
      &_checked{
        width: 600px;
        background-color: #1a082c;
      }
      &_input {
       
        background-color: #250a41;
        color: white;
        width: 100%;
        margin-right: 10px;
        font-size: 1.2em;
        border-radius: 5px;
        border: initial;
        outline: none;
        border-radius: 15px;
        padding: 5px 10px;
        &_checked{
          border: 2px solid rgb(154, 39, 39);
          background-color: #1a082c;
        }
      }
    }
  }
}
.comeInAccount {
  margin: 0;
  font-size: 25px;
}
.iconProfile {
  cursor: pointer;
  padding: 2px 0px 2px 5px;
  font-size: 25px;
  &:hover {
    color: white;
  }
}
.iconSearch {
  color: #c2b9ca;
  font-size: 1.7em;
  cursor: pointer;
  &:hover{
    color: #ffffff;
  }
  
}
.iconXmark{
  font-size: 2.2em;
  transform: rotate(45deg);
  cursor: pointer;
}
