.App {
  background-color: #1a082c;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px 0px rgba(43, 7, 102, 0.2);
}
.header {
  color: rgb(204, 204, 216);
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__divItems {
    align-items: center;
    display: flex;
    > h2 {
      margin: 0px 75px 0px 0px;
      cursor: pointer;
      color: white;
      font-size: 30px;
    }
    > p {
      cursor: pointer;
      padding: 5px 9px;
      font-size: 18px;
      margin-left: 5px;
      &:hover {
        color: white;
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
      }
    }
    &_input {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 3px 10px;
      width: 330px;
      height: 35px;
      border-radius: 15px;
      background-color: white;
      input {
        width: 100%;
        margin-right: 5px;
        font-size: 1.2em;
        border-radius: 15px;
        border: initial;
        outline: none;
      }
    }
  }
}
.comeInAccount {
  margin: 0;
  font-size: 25px;
}
.iconProfile {
  cursor: pointer;
  padding: 2px 0px 2px 5px;
  font-size: 25px;
  &:hover {
    color: white;
  }
}
.iconSearch {
  color: #5c595f;
  font-size: 1.7em;
  cursor: pointer;
  &:hover{
    color: #1a082c;
  }
}
