.GlobalSearchInput {
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 opacity: 0.9;
  &__icon {
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    transition: 0.2s;
    &:hover {
      color: aqua;
    }
    &_active {
      color: aqua;
    }
  }
  &__filterMove {
    border-radius: 15px;
    z-index: 2;
    position: absolute;
    top: 48px;
    right: 260px;
    background-color: rgba(26, 8, 44, 0.96);
    border: 3px solid rgba(154, 39, 39, 0.4);
    border-top: initial;
    border-top-right-radius: initial;
    border-top-left-radius: initial;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 300px;
    &__content {
      padding: 0px 5px;
    }
    &_button {
      cursor: pointer;
      color: white;
      background-color: rgba(164, 74, 254, 0.9);
      border-radius: 10px;
      padding: 7px 50px 7px;
      margin-bottom: 10px;
      margin-top: 5px;
      &:hover {
        background-color: rgba(135, 40, 231, 0.9);
      }
    }
  }

  &__inputs {
    cursor:context-menu;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    > input {
      outline: none;
      border-radius: 5px;
      padding: 2px 5px;
      &:hover {
        background-color: rgb(219, 219, 219);
      }
      &:focus {
        background-color: rgb(219, 219, 219);
        border: 1px solid yellowgreen;
      }
    }
    > p {
      margin-bottom: 3px;
    }
    &_list {
      width: 200px;
    }
  }
}
